header{
    background-color:yellow;
    border-radius: 10px 10px 10px 10px; 
}

    nav {
        background-color:#0F6;
        border-radius: 10px 10px 10px 10px;
}

    article{background-color:orange;
    border-radius: 10px 10px 10px 10px;
}
    footer{background-color: brown;
    border-radius: 10px 10px 10px 10px;
}


#global {width:90%; margin:4px auto;}

nav {
    background-color:#0F6;
    float:left;
    width: 15%;
    height:500px;
}
nav ul {
    list-style-type:none;
    margin: Opx;
    padding: Opx;
    }